<div class="hero">
	<br />
	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
	  <br />

	  <h1>Learn a new skill of your passion</h1>
	  <br />

	  <h2>Become an instructor or take a course that change your path.</h2>
	  <br />

	  <%= link_to 'Learn More', courses_path, :class => 'btn btn-success' %>
	  <br /><br />
	 </div>
</div>

<br/>

<div class="cols-xs-10 col-xs-offset-1 text-center">
	<div class="feature col-sm-4">
		<br />
		<div><%= image_tag 'videos.png' %></div>
		<br class="clr" />
		<span>Video instructions for each lesson to learn the latest technologies like HTLM, CSS, JavaScript, JQuery and SQL. </span>
	</div>

	<div class="feature col-sm-4">
		<br />
		<div><%= image_tag 'learn.png' %></div>
		<br class="clr" />
		<span>Learn to develope web application</span>
	</div>

	<div class="feature col-sm-4">
		<br />
		<div><%= image_tag 'mentor.png' %></div>
		<br class="clr" />
		<span>Get help from mentors and support group </span>
	</div>
</div>